<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">	
		<title>..::Practica 2 - Ultimos Tweet::..</title>
	</head>
	<body>
		<div id="head">
			<b>..::Practica 2 - Ultimos Tweet::..</b></p>
		</div>
	 	
	 	<div>
		 	<form action="/" method="post">
		   		<p><b>Introduzca su nombre de usuario: </b></p><input type="text" name="txtnombre"  value="" autofocus>
		   		<p><b>Seleccione el numero de tweets que quiere ver:</b></p>
				<select onchange="this.form['txtnum'].value=this.value">    
       					<option value="1">1</option>
       					<option value="2">2</option>
       					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
				</select>
				
				<input type="hidden" name="txtnum" value="1">
		   		<input  type="submit" value="Buscar" >
		 	</form>
	 	</div>
 		
 		<div>
			<% if @nombre == ''%>
				<p>  </p>
			<%else%>
				<p>Ultimos <%= @num_tweets %> tweets de <%= @nombre %></p>
				<ol>
					<% @tweets.each do |i| %> 
						<li><%= i %><br></li>
					<% end %>
				</ol>
			<%end %>
		</div>	
	</body>
</html>
